@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap');


h1, h2, h3, h4, h5, h6 {
  font-family: 'Roboto', sans-serif;
}

p {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}

body {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}

.well-gray {
  background-color: #252525 !important;
}

